body {
    background-color: whitesmoke;
    text-decoration: none;
}

.container {
    flex-wrap: wrap;
}

.table-responsive {
    border-color: black;
}

button:hover{
    color: #d4b30a;
    border: #34120a solid 2px;
    background:#fff;
  }